﻿@{
    ViewBag.Title = "AuthorsBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" data-bind ="with: author">
    <h1 data-bind="text: name"></h1>
    <p class="lead">
        страна: <span data-bind="text: country"></span> <br/>
        дата рождения: <span data-bind="text: birthDate"></span><br/>
    </p>    
    <p class="lead">Книги этого автора представлены в таблице </p>    

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Добавить книгу
    </button>
</div>



<div class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Год издания</th>
                
            </tr>
        </thead>
        <tbody data-bind="foreach: books">
            <!--ko template: {name: 'book-row-template', data: $data} -->
            <!--/ko-->
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Название</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Название" data-bind="value: title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Краткое описание </label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Краткое описание" data-bind="value: shortDesc">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Год издания</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Год издания" data-bind="value: year">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Язык</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Год издания" data-bind="value: lang">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">ISBN</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="код ISBN" data-bind="value: ISBNcode">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: addBook">Добавить</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        Html.RenderPartial("~/Views/Book/Templates.cshtml");
        Html.RenderPartial("~/Views/Shared/Paginator.cshtml");
    }
    <script>
        var booksRepository = booksRepository || {};
        booksRepository.authId = @ViewBag.AuthId;
    </script>
    <script src=@Url.Content("~/Scripts/books.authorBookVm.js")></script>
}