﻿
@{
    ViewBag.Title = "Authors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">

    <div class="panel-heading">
       <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Добавить автора
        </button>
    </div>
    <div class="panel-body">
        <!--ko template: {name: 'paginator', data: $root} -->
        <!--/ko-->
    </div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Страна</th>
                <th>Дата рождения</th>    
                <th></th>          
            </tr>
        </thead>
        <tbody data-bind="foreach: authors">
            <!--ko template: {name: 'author-row-template', data: $data} -->
            <!--/ko-->
        </tbody>
    </table>
    <div class="panel-body">
        <!--ko template: {name: 'paginator', data: $root} -->
        <!--/ko-->
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавить автора</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Имя</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Имя" data-bind="value: name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Страна</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Страна" data-bind="value: country">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Дата рождения</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Дата рождения" data-bind="value: bDate">
                            </div>
                        </div>
                    </fieldset>
                </form>
                        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-bind="click: addAuthor">Добавить</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        Html.RenderPartial("Templates");
        Html.RenderPartial("~/Views/Shared/Paginator.cshtml");
    }

    <script src=@Url.Content("~/Scripts/books.authorVm.js")></script>
}
