﻿@*Шаблон строки для таблицы авторов*@
<script type="text/html" id="author-row-template">
    <tr>
        <td class="name "
            data-bind="text: name"></td>
        <td class="country "
            data-bind="text: country"></td>
        <td class="birth-date"
            data-bind="text: birthDate"></td>        
        <td>
            <a data-bind="attr: { href: '/catalog/'+ id}">Книги</a>
        </td>
    </tr>
</script>

