﻿@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">

    <p class="lead">
        В данном тестовом задании реализованы следующие пункты          <br />
        - Постраничный вывод книг и авторов                                     <br />
        - Поиск по книгам (isbn,название, описание)                             <br />
        - Добавление автора                                                     <br />
        - Добавление книги                                                      <br />
        - Страница каталога (инфо о авторе и список  его книг )                 <br />
        - Страница отчета в которой через хранимку агрегируются данные о количестве книг каждого автора и его доли от общега числа книг </br>
        - Генерация тестовых данных
    </p>
    <p><a class="btn btn-primary btn-lg"
          data-bind="   text: createTestDataBtnText,
                        click: createTestData"
          >Cгенерировать тестовые данные </a></p>
</div>

@section Scripts{
   
    <script src=@Url.Content("~/Scripts/сreateTestData.js")></script>
}



