﻿
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <th>Имя автора </th>
                <th>Количество книг</th>
                <th>Доля</th>                
            </tr>
        </thead>
        <tbody data-bind="foreach: reportRows">
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: bookCount"></td>
                <td data-bind="text: share"></td>
            </tr>
        </tbody>
    </table>    
</div>

@section Scripts{
   
    <script src=@Url.Content("~/Scripts/books.reportVm.js")></script>
}