﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Книги", "Index", "Book")</li>
                    <li>@Html.ActionLink("Авторы", "Index", "Author")</li>
                    <li>@Html.ActionLink("Отчет", "ReportPage", "Home")</li>
                </ul>
              
            </div>
        </div>
    </div>
    <div class="container body-content" data-bind="with: booksRepository">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    <script>
        var success = '@AlfaTestApp.Models.AjaxCodes.Success';
        var booksRepository = booksRepository || {};

        // url ajax-запросов
        booksRepository.urls = {};
        booksRepository.urls.loadBooks = '@Url.Action("GetBooks",new  {controller = "Book" })';
        booksRepository.urls.loadAuthors = '@Url.Action("GetAuthors",new  {controller = "Author" })';
        booksRepository.urls.loadAuthorsBooks = '@Url.Action("GetAuthorsBooksData", new  {controller = "Author" })';
        booksRepository.urls.loadReportData = '@Url.Action("GetReportData", new  {controller = "Home" })';
        booksRepository.urls.generateTestData = '@Url.Action("GenerateTestData", new  {controller = "Home" })';

        booksRepository.urls.addAuthor = '@Url.Action("AddAuthor", new  {controller = "Author" })';
        booksRepository.urls.addBook = '@Url.Action("AddBook", new  {controller = "Book" })';

    </script>
    @RenderSection("scripts", required: false)

    <script>
        ko.applyBindings(booksRepository);
    </script>
</body>
</html>
