﻿@*Шаблон пагинатора*@
<script type="text/html" id="paginator">
    <nav>
        <ul class="pager">
            <li class="previous"
                data-bind="css: {'disabled': currentPage() == 1}">
                <a data-bind="click: previousPage"><span aria-hidden="true">&larr;</span> Туда</a>
            </li>
            <li class="next"><a data-bind="click: nextPage">Сюда <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</script>