﻿@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default">

<div class="panel-heading">
    <!--ko template: {name: 'search-form', data: $root} -->
    <!--/ko-->
</div>
<div class="panel-body">
    <!--ko template: {name: 'paginator', data: $root} -->
    <!--/ko-->
</div>


<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Год</th>
            <th>Автор</th>   
            <th>ISBN</th>        
        </tr>
    </thead>
    <tbody data-bind="foreach: books">
        <!--ko template: {name: 'book-row-template', data: $data} -->
        <!--/ko-->
    </tbody>
</table>
    <div class="panel-body">
        <!--ko template: {name: 'paginator', data: $root} -->
        <!--/ko-->
    </div>
</div>

@section Scripts{
    @{
        Html.RenderPartial("Templates");
        Html.RenderPartial("~/Views/Shared/Paginator.cshtml");
    }
    <script src=@Url.Content("~/Scripts/books.bookVm.js")></script>
}
