﻿@*Шаблон строки информации о книге *@
<script type="text/html" id="book-row-template">
    <tr>
        <td class="title"
             data-bind="text: title"></td>
        <td class="short-desc "
             data-bind="text: shortDesc"></td>
        <td class="issue-year "
             data-bind="text: year"></td>
        <td class="author">
            <a  data-bind="text: authorName, 
                        visible: authorName != '',
                        attr: {href: '/catalog/' + authorId}"></a>
        </td>
        <td class="ISBN col-lg-1" data-bind="text: ISBNcode">
           
        </td>
    </tr>   
</script>

@*Шаблон формы поиска*@
<script type="text/html" id="search-form">
    <div class="row">
        <div class="col-xs-6">
            <div class="input-group">
                <input type="text"
                       class="form-control" placeholder="Search for..."
                       data-bind="value: searchTerm">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>


</script>

